{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set url = url('youppers_customer_qr_scan', { qr: value}) %}
{% set qr_size = field_description.options.size|default(60) %}
{% set qr_padding = field_description.options.padding|default(2) %}
{% set div_size = qr_padding + qr_size + qr_padding %}
{% set qr_background = {'r': 255, 'g' : 255, 'b' : 255, 'a' : 60} %}

{% block field %}
<div style="height: {{ div_size }}px; width: {{ div_size }}px;">
<div style="position: absolute; padding: {{ qr_padding }}px;"><img src="{{ asset('bundles/youpperscommon/logo_35x40.png') }}'" width="{{ qr_size }}" height="{{ qr_size }}"></div>
<div style="position: absolute;"><img alt="{{ url }}" src="{{ qrcode_data_uri(url, size=qr_size, padding=qr_padding, background_color=qr_background)  }}" /></div>
</div>{% endblock %}