<style>
<!--
@CHARSET "UTF-8";

@media print {

  a[href]:after {
    content: "";
  }
  
  body {
  	margin: 0mm 0mm 0mm 0mm;
  }

  .page-header {
  	 display: none;
  }
  
  div.boxOuter {
     page-break-inside: avoid;
     border-color: gray;
  }
}

.boxOuter {
	width: 270px;
	height: 390px;
	margin: 5px 5px 5px 5px;
	border: 2px solid green;
    overflow: hidden;
    float: left;
}

.qrOuter {
	margin: 15px 33px;
	float: left;
	width: 200px;
	height: 200px;
}

.logoOuter {
    margin: 0px 53px;
    float: left;
    width: 160px;
    height: 48px;
}

.descOuter {
	float: left; 
	width: 246px;
    height: 100px;
	margin: 10px 10px 0px 10px;
}

.store {
	font-size: 10pt;
}
.boxName {
	font-size: 12pt;
}
.boxDescription {
    font-size: 9pt;
}


.product {
	font-size: 8px;
}

-->
</style>
{% for object in data %}
<div class="boxOuter">
    <div class="descOuter">
        <div class="store">{{ object.store.name }}</div>
        <div class="boxName">[{{ object.code }}] {{ object.name }}</div>
        <div class="boxDescription">{{ object.description }}</div>
    </div>
	<div class="qrOuter">
	{% set field_description = { 'options': {'size': 200, 'padding' : 0}} %}
	{% include 'YouppersCommonBundle::qr.html.twig' %}
	</div>
    <div class="logoOuter"><img src="{{ asset('bundles/youpperscommon/14-12-11_Youppers_logo.png') }}" width="160"></div>
</div>
{% endfor %}
