{% if store is defined %}
<div class="store">Store: {{ store }}</div>
{% endif %}

<div class="product">
	{% if product != null %}
		<div class="product">
			{{ product }} - {{ product.description }}
			
{% for product in scraping %}
<div class="block">
  <h1>{{ product.title|raw}}</h1>
  
  <p>{{ product.description }}</p>
  <p>Codici ordinazione: 
	{% for code in product.codes %}{{ code }}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}
  </p>	
  
  <div style="clear: both;">
	{% for img in product.images %}
	<img src="{{ img }}">
	{% endfor %}
  </div>
  
  <ul>
	{% for attachment in product.attachments %}
	<li><a href="{{ attachment.uri }}" title="{{ attachment.title }}">{{ attachment.description }}</a></li>
	{% endfor %}
  </ul>
</div>
{% endfor %}

		</div>
		{% endif %}
</div>	
