<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<p style="font-family: 'Open Sans', sans-serif;">Gentile <b>{{ toName }}</b>,<br>

con questa email le inviamo l'elenco dei materiali selezionati con <i><b>Youppers</b></i> presso <b>{{ session.store.name }}</b> ed i relativi allegati.</p>

{% if session.name %}
<p style="font-family: 'Open Sans', sans-serif;"><b>Riferimento:</b> {{ session.name }}</p>
{% endif %}

<p style="font-family: 'Open Sans', sans-serif;">Cordiali saluti<br>
    {{ fromName }}</p>

<p>
{% if session.store.logo %}
    {% thumbnail session.store.logo,'show' %}
{% elseif session.store.dealer.logo %}
    {% thumbnail session.store.dealer.logo,'show' %}
{% endif %}
</p>

{% macro attr(name, value, last=false) %}
    <td style="margin: 4px 8px 4px 0px; padding-right: 8px; {% if not last %}border-right: 1px solid black;{% endif %}">
        {% if name %}<span style="font-family:'Open Sans',sans-serif; font-size: 6pt; font-style: italic;">{{ name }}</span><br>{% endif %}
        <span style="font-family:'Open Sans',sans-serif; font-size: 10pt; font-weight: bold;">{{ value }}</span>
    </td>
{% endmacro %}

{% macro attach(name, url, last=false) %}
    <td style="margin: 4px 8px 4px 0px; padding-right: 8px; {% if not last %}border-right: 1px solid black;{% endif %}">
        <span style="font-family:'Open Sans',sans-serif; font-size: 10pt; font-weight: bold;"><a style="text-decoration: none;" href="{{ url }}">{{ name }}</a></span>
    </td>
{% endmacro %}

{% import _self as macros %}

{% set prevZone = null %}
{% for item in items %}
    {% if item.removed %}
        <!-- Item {{ item }} removed -->
    {% else %}
        {% if prevZone and prevZone != item.zone %}
<!-- End {{ prevZone }} -->
</table>
<br/>
        {% endif %}
        {% if (prevZone is null) or (prevZone != item.zone) %}
<table style="border-collapse: collapse; width: 540px; page-break-inside: avoid;">
<!--Begin {{ item.zone }} -->
            {% set prevZone = item.zone %}
         <tr>
            <th colspan="2" style="text-align: center; padding:4px; margin: 5px 0px; background-color:#369c8e; color:white; font-family:'Open Sans',sans-serif; font-size: 18pt;">{{ item.zone }}</th>
         </tr>
        {% endif %}
         <tr style="margin-bottom: 5px; border-bottom: 3px solid #369c8e; page-break-inside: avoid;">
            <td style="width: 85px; margin: 4px 6px 4px; vertical-align: top; padding: 2px;"><a href="{{ imagesurl[item.id] }}">{% thumbnail images[item.id], 'list' %}</a></td>
            <td style="width: 455px;">
               <table width="100%">
                   <tr>
                       <td style="border-bottom: 1px solid black; padding: 0px;">
                           <table width="100%">
                               <tr>
                            {{ macros.attr('Marchio',item.variant.product.brand.name) }}
                            {{ macros.attr('Collezione',item.variant.productCollection.name) }}
                            {% for property in item.variant.variantProperties %}
                                {{ macros.attr(property.attributeOption.attributeStandard.attributeType.name,property.attributeOption.valueWithSymbol, loop.last) }}
                            {% endfor %}
                               </tr>
                           </table>
                       </td>
                   </tr>
                   <tr>
                        <td style="border-bottom: 1px solid black; padding: 2px 10px 2px 0px;">{{ item.variant.product.nameCode }}</td>
                   </tr>
                {% for itemMedia in medias[item.id] %}
                    {% if loop.first %}
                   <tr>
                       <td>
                           <table>
                               <tr>
                    {% endif %}
                    {{ macros.attach(itemMedia.media.name, itemMedia.reference, loop.last) }}
                    {% if loop.last %}
                               </tr>
                           </table>
                       </td>
                    </tr>
                    {% endif %}
                {% endfor %}
               </table>
            </td>
         </tr>
    {% endif %}
    {%  if loop.last %}
</table>
{% endif %}
{% endfor %}



