{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/youppersscraper/css/demo.css') }}" />
{% endblock %}

{% block title brand ~ " - " ~ product  %}

{% block body %}

<h1 class="title">Dettaglio prodotto</h1>

<p>Results for Brand={{ brand }} Product={{ product }}</p>

{% for product in products %}
<div class="block">
  <h1>{{ product.title|raw}}</h1>
  
  <p>{{ product.description }}</p>
  <p>Codici ordinazione: 
	{% for code in product.codes %}{{ code }}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}
  </p>	
  
  <div style="clear: both;">
	{% for img in product.images %}
	<img src="{{ img }}">
	{% endfor %}
  </div>
  
  <ul>
	{% for attachment in product.attachments %}
	<li><a href="{{ attachment.uri }}" title="{{ attachment.title }}">{{ attachment.description }}</a></li>
	{% endfor %}
  </ul>
</div>
{% endfor %}

<div class="block">
  <code>
	{{ dump|nl2br}}
  </code>
</div>

{% endblock %}
